In [1]:
import pandas as pd 
import numpy as np
from datetime import datetime, timedelta

In [2]:
#upload player data 
player_data = pd.read_csv(r'C:\Users\akobe\OneDrive\Desktop\Lighthouse\After\NHL-Stats\Scoring_Rates\Data\player_data\player_data.csv', index_col = [0]) #index col makes sures another index column is not needed

In [3]:
player_data.head()

,game_num,date,team_id,team_code,player_id,name,shoots,position,toi,assists,...,takeaways,giveaways,sh_goals,sh_assists,blocked,plus_minus,even_toi,pp_toi,sh_toi,home_away
0,2022020001,2022-10-07T18:00:00Z,18,NSH,8478508,Yakov Trenin,L,C,17:03,0,...,0,0,0,0,0,0,13:55,0:00,3:08,home
1,2022020001,2022-10-07T18:00:00Z,18,NSH,8475218,Mattias Ekholm,L,D,21:02,1,...,0,1,0,0,0,2,18:38,0:00,2:24,home
2,2022020001,2022-10-07T18:00:00Z,18,NSH,8476925,Colton Sissons,R,C,14:08,0,...,0,1,0,0,1,-1,12:07,0:00,2:01,home
3,2022020001,2022-10-07T18:00:00Z,18,NSH,8476887,Filip Forsberg,R,LW,16:44,1,...,0,1,0,0,0,1,12:37,4:03,0:04,home
4,2022020001,2022-10-07T18:00:00Z,18,NSH,8475798,Mikael Granlund,L,C,17:52,1,...,0,0,0,0,0,1,13:28,4:03,0:21,home

In [4]:
player_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47208 entries, 0 to 5610
Data columns (total 29 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   game_num    47208 non-null  int64
 1   date        47208 non-null  object
 2   team_id     47208 non-null  int64
 3   team_code   47208 non-null  object
 4   player_id   47208 non-null  int64
 5   name        47208 non-null  object
 6   shoots      47208 non-null  object
 7   position    47208 non-null  object
 8   toi         47208 non-null  object
 9   assists     47208 non-null  int64
 10  goals       47208 non-null  int64
 11  shots       47208 non-null  int64
 12  hits        47208 non-null  int64
 13  pp_goals    47208 non-null  int64
 14  pp_assists  47208 non-null  int64
 15  pim         47208 non-null  int64
 16  fo_perc     17747 non-null  float64
 17  fo_wins     47208 non-null  int64
 18  fo_taken    47208 non-null  int64
 19  takeaways   47208 non-null  int64
 20  giveaways   47208 non-null  int64
 21  sh_goals    47208 non-null  int64
 22  sh_assists  47208 non-null  int64
 23  blocked     47208 non-null  int64
 24  plus_minus  47208 non-null  int64
 25  even_toi    47208 non-null  object
 26  pp_toi      47208 non-null  object
 27  sh_toi      47208 non-null  object
 28  home_away   47208 non-null  object
dtypes: float64(1), int64(18), object(10)
memory usage: 10.8+ MB

## Cleaning

In [5]:
#change date to datetime data type 
player_data['date'] = pd.to_datetime(player_data['date'])

In [6]:
#remove timestamp from date column 
player_data['date'] = player_data['date'].dt.strftime('%Y-%m-%d')

In [7]:
#change time on ice variables to time data type 
player_data['toi'] = pd.to_datetime(player_data['toi'], format='%M:%S').dt.time
player_data['even_toi'] = pd.to_datetime(player_data['even_toi'], format='%M:%S').dt.time
player_data['pp_toi'] = pd.to_datetime(player_data['pp_toi'], format='%M:%S').dt.time
player_data['sh_toi'] = pd.to_datetime(player_data['sh_toi'], format='%M:%S').dt.time

In [8]:
#change time on ice variables to timedelta for addition 
player_data['toi'] = pd.to_timedelta(player_data['toi'].astype(str))
player_data['even_toi'] = pd.to_timedelta(player_data['even_toi'].astype(str))
player_data['pp_toi'] = pd.to_timedelta(player_data['pp_toi'].astype(str))
player_data['sh_toi'] = pd.to_timedelta(player_data['sh_toi'].astype(str))

## Different Player Statistics

## Leaf's players min played vs. goals scored

In [9]:
#create a dataframe of just Toronto 
leaf_data = player_data.loc[player_data['team_code'] == 'TOR']

In [10]:
leaf_data.head(2)

,game_num,date,team_id,team_code,player_id,name,shoots,position,toi,assists,...,takeaways,giveaways,sh_goals,sh_assists,blocked,plus_minus,even_toi,pp_toi,sh_toi,home_away
251,2022020015,2022-10-13,10,TOR,8470966,Mark Giordano,L,D,0 days 00:19:43,1,...,1,1,0,0,2,1,0 days 00:15:18,0 days 00:02:09,0 days 00:02:16,home
252,2022020015,2022-10-13,10,TOR,8475718,Justin Holl,R,D,0 days 00:20:28,0,...,2,1,0,0,4,0,0 days 00:16:03,0 days 00:00:00,0 days 00:04:25,home

In [25]:
num_goals_season = leaf_data.groupby('name')['goals'].sum()

In [26]:
num_goals_season

name
Alex Kerfoot               10
Alex Steeves                0
Auston Matthews            40
Bobby McMann                0
Calle Jarnkrok             20
Conor Timmins               2
David Kampf                 7
Denis Malgin                2
Dryden Hunt                 1
Erik Gustafsson             0
Filip Kral                  0
Jake McCabe                 1
Jake Muzzin                 0
Joey Anderson               2
John Tavares               36
Jordie Benn                 1
Justin Holl                 2
Kyle Clifford               0
Luke Schenn                 1
Mac Hollowell               0
Mark Giordano               4
Matthew Knies               0
Michael Bunting            23
Mitchell Marner            30
Morgan Rielly               4
Nicholas Robertson          2
Nick Abruzzese              0
Nicolas Aube-Kubel          0
Noel Acciari                4
Pierre Engvall             12
Pontus Holmberg             5
Radim Zohorna               1
Rasmus Sandin               4
Ryan O'Reilly               4
Sam Lafferty                2
Semyon Der-Arguchintsev     0
TJ Brodie                   2
Timothy Liljegren           6
Victor Mete                 0
Wayne Simmonds              0
William Nylander           40
Zach Aston-Reese           10
Name: goals, dtype: int64

In [27]:
season_toi = leaf_data.groupby('name')['toi'].sum()

In [28]:
season_toi

name
Alex Kerfoot              0 days 19:58:45
Alex Steeves              0 days 00:23:32
Auston Matthews           1 days 01:00:36
Bobby McMann              0 days 01:45:43
Calle Jarnkrok            0 days 17:29:55
Conor Timmins             0 days 06:30:18
David Kampf               0 days 20:55:13
Denis Malgin              0 days 04:27:15
Dryden Hunt               0 days 01:15:55
Erik Gustafsson           0 days 02:21:47
Filip Kral                0 days 00:19:55
Jake McCabe               0 days 06:48:52
Jake Muzzin               0 days 01:06:51
Joey Anderson             0 days 02:14:05
John Tavares              0 days 23:32:31
Jordie Benn               0 days 03:09:37
Justin Holl               1 days 02:59:19
Kyle Clifford             0 days 00:15:49
Luke Schenn               0 days 03:19:30
Mac Hollowell             0 days 01:17:37
Mark Giordano             1 days 00:38:08
Matthew Knies             0 days 00:39:20
Michael Bunting           0 days 21:35:21
Mitchell Marner           1 days 04:22:06
Morgan Rielly             0 days 23:30:46
Nicholas Robertson        0 days 02:43:16
Nick Abruzzese            0 days 00:17:57
Nicolas Aube-Kubel        0 days 00:54:28
Noel Acciari              0 days 05:14:54
Pierre Engvall            0 days 12:41:43
Pontus Holmberg           0 days 06:25:32
Radim Zohorna             0 days 00:18:24
Rasmus Sandin             0 days 15:35:25
Ryan O'Reilly             0 days 03:35:01
Sam Lafferty              0 days 04:11:53
Semyon Der-Arguchintsev   0 days 00:07:16
TJ Brodie                 0 days 20:30:37
Timothy Liljegren         0 days 19:59:52
Victor Mete               0 days 02:23:48
Wayne Simmonds            0 days 02:14:05
William Nylander          1 days 01:20:27
Zach Aston-Reese          0 days 14:01:26
Name: toi, dtype: timedelta64[ns]